<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Pavani Masanam/IdeaProjects/SauceDemo">
        <classes>
            <class name="com.test.magentoTest">
                <methods>
                    <include name="loginApplication"/>
                    <include name="selectItem"/>
                    <include name="priceItemList"/>
                    <include name="addressForOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>